.App {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App__error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}
.App__error__thanos {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}

.App__error__headline {
  color: white;
}
